:root{
    --bg-black-900:#ffffff;
    --bg-black-500:#333333;
    --bg-black-100:#cccccc;
}
:root{
    --color-green:#198754;
    --color-blue:#195787;
    --color-red:#d71a12;
    --color-yellow:#ddc82d;
}