
.style-swicher {
    position: fixed;
    top: 10px;
    right: 0px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-black-100);
    background-color: var(--bg-black-500);
    z-index: 101;
    border-radius: 10px;
    transition: all 0.3s ease;
   transform: translateX(100%);
}
.style-swicher.open{
    transform: translateX(0);

}
.style-swicher .icon-s {
    position: absolute;
    height: 40px;
    width: 40px;
    font-size: 20px;
    background: var();
    color: var(--text-black-900);
    border: 1px solid var(--text-back-500);
    right: 100%;
    margin-right: 25px;
    cursor: pointer;
    border-radius: 50%;

}

.style-swicher i {
    line-height: 40px;
    margin-left: 10px;

}

.style-swicher .day-night {
    top: 55px;
}

.style-swicher .style-swicher-toggler {
    top: 0;
}

.style-swicher h4 {
    color: var(--text-black-900);
    margin: 0 0 14px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.style-swicher .colors {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.style-swicher .colors span {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;

}

.style-swicher .color-1 {
    background: #d71a12;
}

.style-swicher .color-2 {
    background: #c24716;
}

.style-swicher .color-3 {
    background: #ddc82d;
}

.style-swicher .color-4 {
    background: #198754;
}

.style-swicher .color-5 {
    background: #195686;
}
.style-swicher .color-6 {
    background: #b113a9;
}